<div class="ui raised very padded text container segment">
    <h2 class="ui header center aligned">Create Account</h2>

    <form [formGroup]="authForm" class="ui form">
        <!-- <div class="field">
            <label>
                First Name:
                <input type="text" formControlName="username">
            </label>
            
        </div> -->
        <app-input label="Username: " [control]="authForm.get('username')"></app-input>
        {{authForm.get("username").errors | json}}

        <div class="field">
            <label>
                Password:
            </label>
            <input type="text" formControlName="password">

        </div>
        {{authForm.get("password").errors | json}}
        <div class="field">
            <label>
                Confirm Password:
            </label>
            <input type="text" formControlName="passwordConfirmation">

        </div>
        {{authForm.get("passwordConfirmation").errors | json}}

        <button class="ui submit button primary">Submit</button>
        {{authForm.errors | json}}

    </form>

</div>